/* styles.css */

/* Add styles here to customize the appearance of your app */


h1{
    background-color:#ec0c74 ;
    align-content: left;
    color: white;
    padding: 3px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

h2{
    align-content: left;
    color: #61c3ab;
    padding: 3px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}


#submit-button {
    background-color: #61c3ab;
    color: white;
    alighn-content: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#submit-button:hover {
    background-color: #3e968c;
}

#submit-button:active {
    background-color: #2c6e63;
}


#client-text-input {
    padding: 10px;
    width: 80%;
    min-height: 100px;
    max-height: 400px;
    resize: vertical;
    overflow-y: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

#output-text {
    padding: 10px;
    width: 80%;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    overflow-y: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}